<div class="login-box">
    <h1>Login</h1>
    <form id="loginForm">
        <!-- USERNAME INPUT -->
        <label for="email">Mail</label>
        <input type="text" placeholder="Enter Mail" id="email">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" id="password">
        <input type="submit" value="Log In">
        <a href="http://localhost:8080/session/signup">No tienes cuenta?</a>
    </form>
</div>
<script src="/js/login.js"></script>